body{
    background-color: #131316 !important;
    color: #fff !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    padding: 0;
    margin: 0;
}

section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    
}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(192, 192, 192, 0.155);
    margin: 10px;
    border-radius: 10px;
    padding: 0.5rem;
  

}
img{
    width: 120px;
}

.logo:nth-child(2){
     transition-delay: 200ms;
}
.logo:nth-child(3){
  transition-delay: 300ms;   
}
.logo:nth-child(4){
  transition-delay: 400ms;   
}
.logo:nth-child(5){
    transition-delay: 500ms;   
  }
  .logo:nth-child(6){
    transition-delay: 600ms;   
  }

.rotating{
    animation: loading 4s linear infinite;

}


@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .tab{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70dvh;
    /* border: 2px solid aqua; */
    
}
.tab-text{
    width: 40%;
    padding: 2rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10rem;
}
.tab-info{
    width: 60%;
    
    height: 100%;
    margin: auto;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
